.table {
		text-align: center;
}

th {
			text-align: center !Important;
}


.report-row {
		background-color: #eee;
		border-top-color: #fff !Important;
 		border-radius: 25px !important; 
}

.tabletest {
border-collapse:separate; 
border-spacing: 0 2em; 
}

td {
    padding: 20px !Important;   
}


/*
tr {
    background: lightblue;
    display: block;
}

tr.spaced {
     margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 8px !important; 
    height: 50px;
}

*/



.headerOne {
    font-family: 'Raleway', sans-serif;
    color: #444;
    font-size: 30px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.6px;
}

.headerTwo {
    font-family: 'Raleway', sans-serif;
    color: #444;
    font-size: 25px;
    font-weight: 600;
    line-height: 1.1;
    letter-spacing: 0.6px;
}




.bodyFont {
    font-family: 'Raleway', sans-serif;
    color: #444;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: 0.6px;
}